/* styles . css */
.body-customer {
  width: 1150px;
  height: fit-content;
  display: grid;
  margin: 0px auto;
  /* background-image: url("./asset/dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  height: 80vh; */
}



/* Bắt đầu từ đây */
.backgroud-profile {
  background-image: url("./asset/dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  height: 100vh;
  width: 150vh;
}

.profile-container{
  background-image: url("./asset/dark_profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  
}

/* Responsive styles */
  @media screen and (max-width: 768px) {
    .backgroud-profile {
      height: 50vh;
      width: 100vw;
    }
  }

  @media screen and (max-width: 480px) {
    .backgroud-profile {
      height: 30vh;
      padding-top: 50px;
    }
  }


/* End here */


.body-admin {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
div.inline {
  display: inline-block;
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.align-center {
  width: fit-content;
  margin: 0px auto;
}
.align-valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
.text-center {
  text-align: center;

}
span.link {
  cursor: pointer;
  color: blue;

  text-decoration: underline;
}
/* menu . css */
div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}
div.float-left {
  float: left;
}
div.float-right {
  float: right;
}
div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 110px;
}
/* datatable . css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: #ffcc00;
}
/* even rows , except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows , except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #ffeeaa;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}


/* Mới thêm vào  */
.button {
  color: white;
  margin-right: 3px;
  background-color: #2d2a30;
  cursor: pointer;
  border: 0;
  padding: 4px;
  border-radius: 10px;
}
.button:hover {
  background-color: aqua;
  color: black;
  transition: 0.3s;
}

.profile-container {
  border: 1px solid black;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #686868;
}

.main
{
  text-align: center;
  
}

.image-container {
  margin-top: 20px;
}

